<div>
  <div class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> username</div>
</div>

<div>
  <form class="navbar-form">
    <button type="button" class="btn btn-large btn-success btn-block" (click)="newMsg()">New Mesage</button>
  </form>
</div>

<div class="sidebarList">
  <ul class="nav nav-stacked">
    <li role="presentation" class="active"><a href="#">Inbox</a></li>
    <li role="presentation"><a href="#">Starred</a></li>
    <li role="presentation"><a href="#">Sent</a></li>
    <hr>
    <li role="presentation"><a href="#">Inbox</a></li>
    <li role="presentation"><a href="#">Starred</a></li>
    <li role="presentation"><a href="#">Sent</a></li>
  </ul>
</div>
