.input-session  {
  border: 1px solid rgba(0, 0, 0, .15);
  overflow-y: auto;
  height: 45vh;
  resize: none;
}
.main_container{
  margin-top: 50px;
  display: block;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color;
}

.div-margin{
  margin-top: 25px;
  margin-bottom: 25px;
}
.div-margin-title{
  margin-top: 20px;
  margin-bottom: 10px;
}

.no-border {
  border: 0;
  border-bottom: 1px solid #ccc;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.font-grey{
  color: lightgrey;
}
