<nav class="navbar navbar-inverse navbar-custom">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header navbar-custom">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img class="logo-bittiger img-responsive" alt="Brand" src="//cdn-i2.tianmaying.com/public/homeV1/logo-tpye@3x.png">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li *ngIf="!isAuthenticated()">
          <form class="navbar-form">
            <label for="email">E-mail</label>
            <input required name="email" id="email" type="text"
                   class="form-control" placeholder="Enter your email here..."
                   [(ngModel)]="loginPairs.email">
            <label for="password">Password</label>
            <input
              required name="password" id="password" type="password"
              class="form-control" placeholder="Enter your password here..."
              [(ngModel)]="loginPairs.password">
            <button
              type="submit" class="btn btn-default"
              (click)="login()"> Log In </button>
          </form>
        </li>
        <li class="dropdown" *ngIf="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span style="font-size: 20px" class="glyphicon glyphicon-bell" aria-hidden="true"></span> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <div class="list-group div-margin-nav output-session" *ngIf="messages">
                <div *ngFor="let msg of messages">
                  <ng-container *ngIf="msg.status!=3">
                    <a class="list-group-item" routerLink="/messages" href="#detail" (click)="getMessage(msg.id)">{{msg.title}}</a>
                  </ng-container>
                </div>
              </div>
              <a routerLink="/messages">All Messages</a>
            </li>
          </ul>
        </li>

        <li class="dropdown" *ngIf="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="username">{{username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/profile">My Profile</a></li>
            <li><a href="#" (click)="logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
