.input-session  {
  border: 1px solid rgba(0, 0, 0, .15);
  overflow-y: auto;
  height: 35vh;
  resize: none;
}

.output-session {
  padding: 5px 10px 10px 10px;
  overflow: auto;
  height: 55vh;
}

.keywordInput{
  margin-top: 25px;
  margin-bottom: 30px;
}

