<div>
  <form #formRef="ngForm">
    <div class="form-inline">
      <label for="email">e-mail</label>
      <input
        required
        name="email"
        id="email"
        type="text"
        class="form-control"
        placeholder="Enter your email here..."
        [(ngModel)]="loginPairs.email">
      <label for="password">Password</label>
      <input
        required
        name="password"
        id="password"
        type="password"
        class="form-control"
        placeholder="Enter your password here..."
        [(ngModel)]="loginPairs.password">
      <button
        type="submit"
        class="btn btn-default"
        (click)="login()">
        Log In
      </button>
    </div>
    <!--<button-->
      <!--type="button"-->
      <!--class="btn btn-default"-->
      <!--(click)="signup()">-->
      <!--Sign Up-->
    <!--</button>-->
  </form>
</div>
