<div class ="container-fluid">
  <div class="col-sm-3">
    <div>
      <div class="text-center"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> username</div>
    </div>

    <div>
      <form class="nav navbar-form">
        <button type="button" class="btn btn-large btn-success btn-block" data-toggle="tab" href="#newmsg">New Message</button>
      </form>
    </div>

    <div class="sidebarList">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a data-toggle="pill" href="#inbox">Inbox <span class="badge">42</span></a></li>
        <li role="presentation"><a data-toggle="pill" href="#newmsg">Starred</a></li>
        <li role="presentation"><a data-toggle="pill" href="#inbox">Sent</a></li>
        <hr>
        <li role="presentation"><a data-toggle="pill" href="#">CS501</a></li>
        <li role="presentation"><a data-toggle="pill" href="#">UX501</a></li>
        <li role="presentation"><a data-toggle="pill" href="#">BitTiger News</a></li>
      </ul>
    </div>
  </div>

  <div class="col-sm-9 tab-content">
    <div id="newmsg" class="tab-pane fade">
      <app-new-message></app-new-message>
    </div>
    <div id="inbox" class="tab-pane fade in active">
      <app-message-list></app-message-list>
    </div>
    <div id="detail" class="tab-pane fade">
      <app-message-detail></app-message-detail>
    </div>
  </div>

</div>
